<h3 class="heading-main">Author Add</h3>
<div class="line"></div>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1">
      <form class="form-horizontal" >
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Author's Name</label>
          <div class="col-sm-10">
            <input class="form-control" name="nama" [(ngModel)]="author.nama" type="text" id="formGroupInputSmall" placeholder="first name last name">
          </div>
        </div>
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Author's E-Mail</label>
          <div class="col-sm-10">
            <input class="form-control" name="email" [(ngModel)]="author.email" type="text" id="formGroupInputSmall" placeholder="example@example.com">
          </div>
        </div>
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Author's Address</label>
          <div class="col-sm-10">
            <input class="form-control" name="alamat" [(ngModel)]="author.alamat" type="text" id="formGroupInputSmall" placeholder="Main Highway Otaki; 32 Wilson Street; Postcodes: 5022; PO Box 39100">
          </div>
        </div>
        <button type="submit" (click)="save()" class="btn btn-success pull-right btn-save">Add Author</button>
      </form>
  </div>
</div>