
img.image-round.bordered{
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #777;
}
.authors-name{
    margin-top: 15px;
}
.authors-email{
    margin-bottom: 10px;
    color: #668407;
}
.round-box{
    border-radius: 50%;
}

.authors-book{
    margin: 8px 0;
}