<div class="heading-main">Author Detail</div>
<div class="line"></div>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="round-box">
      <img class="image-round bordered center-block" src="https://demo.accesspressthemes.com/accesspress-parallax/wp-content/uploads/2014/09/team-member-441x441-380x380.jpg" height="150">
    </div>
    <div class="col-xs-12 authors-name" align="center"><h3>{{author.nama}}</h3></div>
    <div class="col-xs-12 authors-email" align="center">{{author.email}}</div>
    <div class="col-xs-12 line"></div>
    <div class="col-xs-12">Books By {{ author.nama }}</div>
    <div class="col-xs-12 line"></div>
    <div class="col-xs-12">
      <div *ngFor="let authorsBook of authorsBooks" class="col-xs-3 authors-book">
          <div class="thumbnail">
              <img src="https://images-na.ssl-images-amazon.com/images/I/516Nu7R7paL._SX330_BO1,204,203,200_.jpg">
              <div class="caption">
                <span>{{ authorsBook.judul }}</span>
              </div>
          </div>
      </div>
    </div>
    <hr>
  </div>
</div>