<div class="heading-main">Author Edit</div>
<div class="line"></div>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1" *ngIf="author">
      <form class="form-horizontal">
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Authors's Name</label>
          <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="author.nama" type="text" name="nama" placeholder="please input full name">
          </div>
        </div>
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Authors's E-Mail</label>
          <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="author.email" type="text" name="email" placeholder="example@example.com">
          </div>
        </div>
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Authors's Address</label>
          <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="author.alamat" type="text" name="alamat" placeholder="alamat lengkap, kalau perlu koordinat GPS sekalian">
          </div>
        </div>
        <button class="btn btn-success pull-right btn-save" (click)="save()">Save Changes</button>
      </form>
  </div>
</div>