<div class="heading-main">Book List<a routerLink="/authors/author-add" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Add Author</a></div>
<div class="line"></div>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Action</th>
        </tr>


        <!-- loop start -->
        <tr *ngFor="let author of authors">
          <td>{{author.id}}</td>
          <td>
            <img class="image-round" src="https://demo.accesspressthemes.com/accesspress-parallax/wp-content/uploads/2014/09/team-member-441x441-380x380.jpg" height="30">
          </td>
          <td>{{author.nama}}</td>
          <td>{{author.email}}</td>
          <td>
            <a routerLink="/authors/author-detail/{{author.id}}" class="btn btn-primary btn-sm btn-act"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;View</a>
            <a routerLink="/authors/author-edit/{{author.id}}" title="edit author" class="btn btn-success btn-sm btn-act"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Edit</a>
            <a (click)="delete(author.id)" class="btn btn-warning btn-sm btn-act"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Delete</a>
            <!-- <button class="delete" title="delete author" (click)="delete(author)">x</button> -->
          </td>
        </tr>
        <!-- loop end -->

      </table>
  </div> 
</div>