<h3 class="heading-main">Book Edit</h3>
<div class="line"></div>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1" *ngIf="book">
      <div class="form-horizontal">
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Book's Title</label>
          <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="book.judul" type="text" id="formGroupInputSmall" placeholder="please input full title">
          </div>
        </div>
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Book's Author</label>
          <div class="col-sm-10">
              <select [(ngModel)]="bookDataPenulis.id">
                  <option *ngFor="let a of authors" [value]="a.id">
                    {{a.nama}}
                  </option>
              </select>     
          </div>
        </div>
        <button type="submit" (click)="save()" class="btn btn-success pull-right btn-save">Save Changes</button>
      </div>
    
  </div>
</div>