<div class="heading-main">Book List<a routerLink="/books/book-add" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Add Book</a>
</div>
<div class="line"></div>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Action</th>
        </tr>


        <!-- loop start -->
        <tr *ngFor="let book of books">
          <td>{{book.id}}</td>
          <td>{{book.judul}}</td>
          <td>{{book.penulis.nama}}</td>
          <td>
            <a routerLink="/books/book-edit/{{book.id}}" title="edit book" class="btn btn-success btn-sm btn-act"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Edit</a>
            <a title="delete book" (click)="delete(book)" class="btn btn-warning btn-sm btn-act"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Delete</a>
          </td>
        </tr>
        <tr>
        <!-- loop end -->


      </table>
</div>