<h3>New Hot Popular Book</h3>
<div class="col-xs-12">
      <div class="col-xs-6 col-md-2 col-lg-2">
        <div class="thumbnail">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41Kx18SKbQL._SX332_BO1,204,203,200_.jpg">
          <div class="caption">
            <span>Thumbnail label</span><br/>
            <span>Author Name M.Eng</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
          <div class="thumbnail">
            <img src="https://images-na.ssl-images-amazon.com/images/I/516Nu7R7paL._SX330_BO1,204,203,200_.jpg">
            <div class="caption">
              <span>Thumbnail label</span><br/>
              <span>Author Name M.Eng</span>
            </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <select [(ngModel)]="dsing">
          <option value=""> - </option>
          <option *ngFor="let d of ds" [value]="d">{{d}}</option>
        </select>
      </div>
</div>