/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Ubuntu';
}
a{
    color: #668407;
}
a:hover{
    color: #4f6605;
    text-decoration: none;
}
.container{
    color: #666 !important;
}
.heading-main{
    font-size: 18px;
    color: #ff7614;
    font-weight: 700;
    text-transform: uppercase;
}
.detail-content{
    margin-top: 15px;
}
.btn-success{
    background-color: #779a0b;
    border-color: #6c8c09;
}
.btn-success:hover{
    background-color: #668407;
    border-color: #4f6605;
}
.btn-warning{
    background-color: #ef6807;
    border-color: #eb6608;
}
.btn-warning:hover{
    background-color: #dd5f04;
    border-color: #ce5803;
}
img.image-round{
    border-radius: 50%;
}
.line{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #ccc;
    margin: 2% 0;
}
.btn-save{
    width: 150px !important;
}
.btn-act{
    width: 80px !important;
    margin: 2px;
}
.container{
    margin-top: 80px;
}







/*
*
BOOTSSTRAP EDIT
*
*/

.btn, .thumbnail, .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .form-control{
    border-radius: 0px !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(108, 140, 9, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(119, 154, 11, 0.6) !important;
  outline: 0 none !important;
}
.thumbnail{
    padding: 8px !important;
}



.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100% !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
    background-color: #779a0b;
}