<h3 class="heading-main">Book Add</h3>
<div class="line"></div>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1">
      <form class="form-horizontal">
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Book's Title</label>
          <div class="col-sm-10">
            <input class="form-control" name="judul" [(ngModel)]="book.judul" type="text" id="formGroupInputSmall" placeholder="please input full title">
          </div>
        </div>
        <div class="form-group form-group-md">
          <label class="col-sm-2 control-label" for="formGroupInputSmall">Book's Author</label>
          <div class="col-sm-10">
            <select name="pengarang" [(ngModel)]="book.pengarang">
                <option *ngFor="let author of authors" value="{{author.id}}">
                  {{author.nama}}
                </option>
            </select>              
          </div>
        </div>
        <button type="submit" (click)="save()" class="btn btn-success pull-right btn-save">Add Book</button>
      </form>
  </div>
</div>